@page "/checkin"
@page "/checkin/{Id:int}"
@inherits CheckInBase
@using SignaturePad
@inject NavigationManager NavigationManager


<PageTitle>Check-In</PageTitle>

<AuthorizeView>
    <Authorized>
        @if (checkInModel == null)
        {
            <p>Reservation not found.</p>
        }
        else
        {
            <StatusModal IsOpen="IsModalOpen"
                         IsSuccess="IsSuccessModal"
                         Message="@ModalMessage"
                         OnClose="HandleModalClose" />


            <EditForm Model="@checkInModel" Context="editFormContext" OnValidSubmit="HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="container rounded-3 my-4">
                    <div class="row px-2 py-4 p-md-5">
                        <div class="col-10 d-none d-md-block mt-3">
                            <h5 class="welcome fw-bolder text-uppercase">@Localizer["WelcomeMessage"]</h5>
                        </div>
                        <div class="col-2">
                            <img src="/icons/snowylogo.svg" alt="Snowylodge logo" width="95" height="50">
                        </div>
                    </div>

                    <div class="header row z-0"></div>

                    <div class="px-2 py-4 p-md-5">
                        <h5 class="text-center my-4">@Localizer["Form.CheckIn.Title"]</h5>

                        <!-- Guest Information -->
                        <h4>@checkInModel.GuestFirstName</h4>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>@Localizer["Email"]</label>
                                <InputText class="form-control" @bind-Value="checkInModel.MailAddress" />
                                <ValidationMessage For="@(() => checkInModel.MailAddress)" />
                            </div>
                            <div class="col-md-6 mt-3 mt-md-0">
                                <label>@Localizer["Contact.Mobile.Label"]</label>
                                <InputText class="form-control" @bind-Value="checkInModel.Mobile" />
                                <ValidationMessage For="@(() => checkInModel.Mobile)" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6">
                                <label>@Localizer["Document.PassportNumber.Label"]</label>
                                <InputText class="form-control" @bind-Value="checkInModel.PassportNr" maxlength="50" />
                                <ValidationMessage For="@(() => checkInModel.PassportNr)" />
                            </div>
                        </div>

                        <!-- Reservation Information -->
                        <div class="row mt-5 mb-3">
                            <div class="col-md-6 d-flex flex-column">
                                <p class="fw-bold m-0">@Localizer["CheckIn"]</p>
                                <div class="mt-1 row">
                                    <div class="col-12 col-md-4 col-lg-3">
                                        @checkInModel.CheckInDate
                                    </div>
                                    <div class="col">
                                        @checkInModel.CheckInTime
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="fw-bold m-0 mt-3 mt-md-0">@Localizer["CheckOut"]</p>
                                <div class="mt-1 row">
                                    <div class="col-12 col-md-4 col-lg-3">
                                        @checkInModel.CheckOutDate
                                    </div>
                                    <div class="col">
                                        @checkInModel.CheckOutTime
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-6 fw-bold">
                                <p class="fw-bolder m-0">@Localizer["General.Details.Label"]</p>
                                <div class="text-lowercase">
                                    @checkInModel.NumberOfNights @Localizer["Nights"]
                                </div>
                                <div>
                                    @checkInModel.NumberOfGuests @Localizer["Guest.Adults.Label"]
                                </div>
                            </div>
                            <div class="col-md-6">
                                <p class="fw-bold m-0 mt-3 mt-md-0">@Localizer["Apartment"]</p>
                                @checkInModel.ApartmentName
                            </div>
                        </div>

                        <!-- Price Summary -->
                        <div class="mt-5 mb-3">
                            <div class="row">
                                <p class="fw-bold col-md-6 m-0 mt-3 mt-md-0">@Localizer["Fee.Apartment.Label"] (@checkInModel.CurrencySymbol)</p>
                                <div class="col-md-2 mb-1">
                                    <div>
                                        <InputNumber class="form-control" @bind-Value="checkInModel.ApartmentFee" @oninput="@(e => {
                                            var strVal = e.Value?.ToString();
                                            var val = decimal.TryParse(strVal, out var parsedVal) ? parsedVal : 0m;
                                            OnFeeChanged(val);})" />
                                    </div>
                                    <ValidationMessage class="ms-3 text-danger" For="@(() => checkInModel.ApartmentFee)" />
                                </div>
                            </div>
                            <div class="row">
                                <p class="fw-bold col-md-6 m-0 mt-3 mt-md-0">@Localizer["SecurityDeposit.Label"] (@checkInModel.CurrencySymbol)</p>
                                <div class="col-md-2 mb-1">
                                    <div>
                                        <InputNumber class="form-control" @bind-Value="checkInModel.SecurityDeposit" @bind-Value:format="C" @oninput="@(e => {
                                            var strVal = e.Value?.ToString();
                                            var val = decimal.TryParse(strVal, out var parsedVal) ? parsedVal : 0m;
                                            OnDepositChanged(val);})" />
                                    </div>
                                    <ValidationMessage class="ms-3 text-danger" For="@(() => checkInModel.SecurityDeposit)" />
                                </div>
                            </div>
                            <div class="row">
                                <p class="fw-bold col-md-6 m-0 mt-3 mt-md-0">@Localizer["Price.Total.Label"] (@checkInModel.CurrencySymbol)</p>
                                <div class="col-md-2 mb-1">
                                    <div>
                                        <div class="form-control">@checkInModel.TotalPrice</div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Agreements -->
                        <div class="form-check mt-4 mb-2">
                            <InputCheckbox class="form-check-input disable-checkbox-only" @bind-Value="checkInModel.AgreeEnergyConsumption" />
                            <label class="form-check-label">
                                @{
                                    var formattedEnergyConsumptionText = string.Format(Localizer["Rental.EnergyConsumption.CheckBox"], checkInModel.KWhPerNightIncluded, checkInModel.CostsPerXtraKWh, checkInModel.CurrencySymbol);
                                } @formattedEnergyConsumptionText <br />  <div class="d-flex gap-2 align-items-center">
                                    Meter <InputNumber class="form-control w-25" @bind-Value="checkInModel.KwhAtCheckIn" />
                                    <ValidationMessage For="@(() => checkInModel.KwhAtCheckIn)" /> kWh.
                                </div>
                            </label>
                            <ValidationMessage class="text-danger text-break" For="@(() => checkInModel.AgreeEnergyConsumption)" /> kWh.

                        </div>
                        <div class="form-check mb-2">
                            <InputCheckbox class="form-check-input disable-checkbox-only" @bind-Value="checkInModel.ReceivedKeys" />
                            <label class="form-check-label">
                                @Localizer["Rental.ReceivedKeys.Info"]
                            </label>
                            <ValidationMessage For="@(() => checkInModel.ReceivedKeys)" /> kWh.
                        </div>
                        <div class="form-check mb-4">
                            <InputCheckbox class="form-check-input disable-checkbox-only" @bind-Value="checkInModel.AgreeTerms" />
                            <label class="form-check-label">
                                @Localizer["Rental.Agreement.Signature.Info"]
                            </label>
                            <ValidationMessage For="@(() => checkInModel.AgreeTerms)" /> kWh.
                        </div>

                        <div class="row mt-5 mb-3">
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="fw-bold m-0 mt-3 mt-md-0">@Localizer["Label_Date"]</p>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-control">@CheckedInAt</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 d-flex align-items-center">
                                <div class="row">
                                    <div class="col-md-3">
                                        <p class="fw-bold m-0 mt-3 mt-md-0">@Localizer["Label_Place"]</p>
                                    </div>
                                    <div class="col-md-9">
                                        <p class="ms-md-3">Paramaribo</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @if (displaySignaturePad)
                        {
                            <!-- Signature -->
                            <h5 class="mt-4">@Localizer["Label_GuestsSignature"]</h5>
                            <div class="mb-3">
                                <SignaturePad Options="_options" @bind-Value="SignatureBytes" Width="180" Height="80" />
                                @if (!string.IsNullOrEmpty(signatureValidationError))
                                {
                                    <div class="text-danger">@signatureValidationError</div>
                                }
                            </div>
                        }
                        <div class="row mb-3">
                            <div class="col-md-4">
                                @checkInModel.GuestFullName
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-10 mb-3">
                                <button type="submit" class="btn btn-success border-0 rounded-3">

                                    @if (IsCheckingIn)
                                    {
                                        <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                    }

                                    @Localizer["Save.Share.Reservation"]
                                </button>
                            </div>
                            <div class="col-md">
                                <button class="btn btn-secondary border-0 rounded-3 py-1 text-end" @onclick="HandleBackButton">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </EditForm>

        }

    </Authorized>
</AuthorizeView>
