@page "/checkin"
@page "/checkin/{Id:int}"

@inherits CheckInBase
@using SignaturePad
@inject NavigationManager NavigationManager


<PageTitle>Check-In</PageTitle>

<div class="ms-4 mt-4">
    <h5 class="text-white ms-5 ps-5">Check-In</h5>
</div>
@if (checkInModel == null)
{
    <p>Reservation not found.</p>
}
else
{

    <EditForm Model="@checkInModel" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="container bg-white p-5 rounded-3 my-4">
            <!-- Guest Information -->
            <h4>@checkInModel.GuestFirstName</h4>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Passport Number</label>
                    <InputText class="form-control" @bind-Value="checkInModel.PassportNr" maxlength="50" />
                    <ValidationMessage For="@(() => checkInModel.PassportNr)" />
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <label>Mail Address</label>
                    <InputText class="form-control" @bind-Value="checkInModel.MailAddress" />
                    <ValidationMessage For="@(() => checkInModel.MailAddress)" />
                </div>
                <div class="col-md-6">
                    <label>Mobile</label>
                    <InputText class="form-control" @bind-Value="checkInModel.Mobile" />
                    <ValidationMessage For="@(() => checkInModel.Mobile)" />
                </div>
            </div>

            <!-- Reservation Information -->
            <div class="row mt-5 mb-3">
                <div class="col-md-6">
                    <p class="fw-bold">Check-In</p>
                    <div>
                        <div>
                            @checkInModel.CheckInDate
                        </div>
                        <div>
                            @checkInModel.CheckInTime
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="fw-bold">Check-Out</p>
                    <div>
                        <div>
                            @checkInModel.CheckOutDate
                        </div>
                        <di>
                            @checkInModel.CheckOutTime
                        </di>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <div>
                        @checkInModel.NumberOfNights nights
                    </div>
                    <div>
                        @checkInModel.NumberOfGuests adults
                    </div>
                </div>
                <div class="col-md-6">
                    <p class="fw-bold">Apartment</p>
                    @checkInModel.ApartmentName
                </div>
            </div>

            <!-- Price Summary -->
            <div class="mt-5 mb-3">
                <div class="row">
                    <p class="fw-bold col-md-6">Apartment Fee</p>
                    <div class="col-md-6">
                        <InputNumber class="form-control" @bind-Value="checkInModel.ApartmentFee" @onchange="OnFeeChanged" />
                        <ValidationMessage For="@(() => checkInModel.ApartmentFee)" />
                    </div>
                </div>
                <div class="row">
                    <p class="fw-bold col-md-6">Security Deposit</p>
                    <div class="col-md-6">
                        <InputNumber class="form-control" @bind-Value="checkInModel.SecurityDeposit" @onchange="OnFeeChanged" />
                        <ValidationMessage For="@(() => checkInModel.SecurityDeposit)" />
                    </div>
                </div>
                <div class="row">
                    <p class="fw-bold col-md-6">Total Price</p>
                    <div class="col-md-6">
                        <div class="form-control">@checkInModel.CurrencySymbol @checkInModel.TotalPrice</div>
                    </div>
                </div>
            </div>


            <!-- Agreements -->
            <div class="form-check mt-4 mb-2">
                <InputCheckbox class="form-check-input" @bind-Value="AgreeEnergyConsumption" />
                <label class="form-check-label">
                    Energy consumption up to 30 kWh per day is included in the rental price! For additional use, $0.20 per kWh will be charged at check-out <br />  <div class="d-flex gap-2 align-items-center">
                        Meter <InputNumber class="form-control w-25" @bind-Value="checkInModel.KwhAtCheckIn" />
                        <ValidationMessage For="@(() => checkInModel.KwhAtCheckIn)" /> kWh.
                    </div>
                </label>
            </div>
            <div class="form-check mb-2">
                <InputCheckbox class="form-check-input" @bind-Value="ReceivedKeys" />
                <label class="form-check-label">
                    Received alarm remote control, remote control sliding gate, house key, gate key, and room keys.
                </label>
            </div>
            <div class="form-check mb-4">
                <InputCheckbox class="form-check-input" @bind-Value="AgreeTerms" />
                <label class="form-check-label">
                    By signing this form, the tenant declares to agree with the (house) rules from the "IMPORTANT" handbook and the general terms and conditions of Snowy Lodge.
                </label>
            </div>

            <div class="row mt-5 mb-3">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <p class="fw-bold">Check-In Date</p>
                        </div>
                        <div class="col-md-6">
                            <InputDate class="form-control" @bind-Value="checkInModel.CheckInDate" />
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-center">
                    <div class="row">
                        <div class="col-md-3">
                            <p class="fw-bold">Place</p>
                        </div>
                        <div class="col-md-8">
                            <InputText class="form-control" @bind-Value="checkInModel.Place" />
                        </div>
                    </div>
                </div>
            </div>

            @if (displaySignaturePad)
            {
                <!-- Signature -->
                <h3 class="mt-4">Signature</h3>
                <div class="mb-3">
                    <SignaturePad Options="_options" @bind-Value="SignatureBytes" Width="200" Height="200" />
                    <ValidationMessage For="@(() => checkInModel.SignatureDataUrl)" />
                </div>
            }
            <div class="row mt-5 mb-3">
                <div class="col-md-4">
                    <label>User Full Name</label>
                    <InputText class="form-control" @bind-Value="checkInModel.GuestFullName" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save and Share</button>
        </div>
    </EditForm>

}