@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales
@inject IStringLocalizer<Resource> Localizer

@inherits ReservationDetailBase

@if (SelectedReservation != null)
{
    <div class="modal-body">
        <div class="row">
            <div class="col-md-2 mb-2 mb-md-0">
                <img src="icons/profile.svg" alt="guest profile icon" width="48" />
            </div>
            <div class="col-md-10">
                <h5 class="m-0 fs-5">@SelectedReservation.QuestName</h5>
                <p class="text-black-50">@SelectedReservation.PhoneNumber</p>
            </div>
        </div>

        <div>
            <h5 class="m-0 fs-5">@Localizer["CheckIn"]:</h5>
            <p class="m-0 text-black-50">@SelectedReservation.CheckInDate</p>
            <p class="text-black-50">@SelectedReservation.CheckInTime</p>
        </div>

        <div>
            <h5 class="m-0 fs-5">@Localizer["CheckOut"]:</h5>
            <p class="m-0 text-black-50">@SelectedReservation.CheckOutDate</p>
            <p class="text-black-50">@SelectedReservation.CheckOutTime</p>
        </div>


        <div>
            <h5 class="m-0 fs-5">@Localizer["Guests"]:</h5>
            <p class="text-black-50">@SelectedReservation.NumberOfQuests @Localizer["Guest.Adults.Label"]</p>
        </div>

        <div>
            <h5 class="m-0 fs-5">@Localizer["Nights"]:</h5>
            <p class="text-black-50">@SelectedReservation.NumberOfNights @Localizer["Nights"]</p>
        </div>

        <div>
            <h5 class="m-0 fs-5">@Localizer["Apartment"]:</h5>
            <p class="text-black-50"> @SelectedReservation.ApartmentName</p>
        </div>

        <div>
            <h5 class="m-0 fs-5">@Localizer["Price.Summary.Label"]</h5>

            <div class="text-nowrap">
                <div class="row mb-2 mb-md-0">
                    <div class="col-md-3">
                        <p class="text-black-50 m-0">@Localizer["Price"]</p>
                    </div>
                    <div class="col-md-9">
                        <p class="fw-bold ms-md-5 m-0">@SelectedReservation.CurrencySymbol @SelectedReservation.Price</p>
                    </div>
                </div>

                <div class="row mb-2 mb-md-0">
                    <div class="col-md-3">
                        <p class="text-black-50 m-0">@Localizer["SecurityDeposit.Label"]</p>
                    </div>

                    <div class="col-md-9">
                        <p class="fw-bold ms-md-5 m-0">@SelectedReservation.CurrencySymbol @SelectedReservation.SecurityDeposit</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        <p class="text-black-50 m-0">@Localizer["Payment.Total.Label"]</p>
                    </div>
                    <div class="col-md-9">
                        <p class="fw-bold ms-md-5">@SelectedReservation.CurrencySymbol @SelectedReservation.TotalPrice</p>
                    </div>
                </div>
            </div>
        </div>

        <button class="btn btn-success border-0 rounded-3 mt-4" @onclick="NavigateToCheckIn" disabled="@(SelectedReservation.StatusId != (uint)ReservationStatus.Okay)">@Localizer["CheckIn"]</button>
    </div>
}
else
{
    // Not implemented
    <p>@Localizer["No reservation details available."]</p>
}


