@page "/"
@inherits HomeBase

<PageTitle>Reservations</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="text-white d-flex justify-content-lg-evenly ms-5">
            <p>Hello, @context.User.FindFirst("unique_name")?.Value!</p>
            <p>Your role: @context.User.FindFirst("role")?.Value!</p>
            <p><a href="/logout">Logout</a></p>
        </div>


        <div class="content">

            <div class="container">

                <div class="table-responsive custom-table-responsive">

                    <table class="table custom-table">
                        <thead class="text-nowrap text-white">
                            <tr>
                                <th scope="col">Check-In</th>
                                <th scope="col">Check-Out</th>
                                <th scope="col">Appartment</th>
                                <th scope="col">Name</th>
                                <th scope="col">Quests</th>
                                <th scope="col">Nights</th>
                                <th scope="col">Price</th>
                                <th scope="col">Channel</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var reservation in Reservation)
                            {
                                <tr scope="row">
                                    <td>@reservation.CheckInDate</td>
                                    <td>@reservation.CheckOutDate</td>
                                    <td>@reservation.Apartment</td>
                                    <td>@reservation.Quest</td>
                                    <td>@reservation.NumberOfQuests</td>
                                    <td>@reservation.NumberOfNights</td>
                                    <td>@reservation.TotalPrice</td>
                                    <td>@reservation.Apartment</td>
                                    <td>@reservation.Status</td>
                                    <td>
                                        <button class="btn btn-success btn-sm">View</button>
                                    </td>
                                </tr>
                                <tr class="spacer"><td colspan="100"></td></tr>
                            }
                        </tbody>
                    </table>
                </div>


            </div>

        </div>
    </Authorized>
</AuthorizeView>







