@page "/"
@inherits HomeBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Components.Shared
@using RentalCheckIn.Locales
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Reservations</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="content">

            <div class="container">

                <!-- Dropdown Filter for Apartments -->
                <div class="row my-4">
                    <div class="col-6 col-md-2">
                        <label for="apartmentFilter" class="form-label text-white text-nowrap">@Localizer["Filter"]:</label>
                        <select id="apartmentFilter" class="form-select" @onchange="OnApartmentFilterChanged" value="@SelectedApartment">
                            @foreach (var apartment in ApartmentNames)
                            {
                                <option value="@apartment" selected="@(apartment == SelectedApartment)">
                                    @apartment
                                </option>
                            }
                        </select>
                    </div>
                </div>
                @if (PaginatedReservations != null)
                {
                    <div class="table-responsive d-none d-md-block">

                        <table class="table table-responsive custom-table .table-sm">
                            <thead class="text-nowrap">
                                <tr>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["CheckIn"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["CheckOut"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Apartment"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Name"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Guests"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Nights"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Price"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Channel"]</th>
                                    <th class="text-white bg-transparent" scope="col">@Localizer["Status"]</th>
                                    <th class="text-white bg-transparent" scope="col"></th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var reservation in PaginatedReservations)
                                {
                                    <tr scope="row" class="text-nowrap">
                                        <td>@reservation.CheckInDate</td>
                                        <td>@reservation.CheckOutDate</td>
                                        <td>@reservation.ApartmentName</td>
                                        <td>@reservation.QuestName</td>
                                        <td>@reservation.NumberOfQuests</td>
                                        <td>@reservation.NumberOfNights</td>
                                        <td>@reservation.CurrencySymbol @reservation.TotalPrice</td>
                                        <td>@reservation.ChannelName</td>
                                        <td>@reservation.StatusLabel</td>
                                        <td>
                                            <button class="btn btn-success btn-sm border-0 rounded-3" @onclick="() => OpenModal(reservation)">@Localizer["View"]</button>
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan="100"></td></tr>
                                }

                            </tbody>
                        </table>
                    </div>

                    <div class="d-md-none">
                        <StackedReservationView PaginatedReservations="PaginatedReservations" OnOpenModal="OpenModal" />
                    </div>

                    <div class="pagination-controls text-center mt-3 pb-3">
                        <button class="btn btn-primary btn-sm me-2" @onclick="PreviousPage" disabled="@(currentPage == 1)">@Localizer["Previous"]</button>

                        @for (uint page = 1; page <= totalPages; page++)
                        {
                            uint numPage = page;
                            <button class="btn btn-secondary btn-sm me-1 @(currentPage == page ? "active" : "")" disabled="@(currentPage == page)" @onclick="() => GoToPage(numPage)">
                                @numPage
                            </button>
                        }

                        <button class="btn btn-primary btn-sm ms-2" @onclick="NextPage" disabled="@(currentPage == totalPages)">@Localizer["Next"]</button>
                    </div>
                }
                else if(Message != null) 
                {
                    <div class="text-danger">@Message</div>
                }
                else
                {
                    <div class="text-center text-success">
                        <div class="spinner-border" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </div>
                    </div>
                }

            </div>


        </div>


        @if (showModal)
        {
            <div class="modal fade show right-align-modal" style="display:block;" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <divk class="ms-md-3">
                            <div class="modal-header ms-3">
                                <h3 class="modal-title fw-bold">@Localizer["Reservation"] #@selectedReservation.Id</h3>
                                <button type="button" class="btn-close" @onclick="CloseModal"></button>
                            </div>
                            <div class="modal-body">
                                <div class="header row"></div>
                                <h4 class="fw-bold ms-3">Guest details</h4>
                                <ReservationDetail SelectedReservation="selectedReservation" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @onclick="CloseModal">@Localizer["Close"]</button>
                            </div>
                        </divk>
                    </div>
                </div>
                <div>Hello</div>
            </div>
            <div class="modal-backdrop fade show"></div>
        }

    </Authorized>
</AuthorizeView>





