@page "/"
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales
@inherits HomeBase
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Reservations</PageTitle>

<AuthorizeView>
    <Authorized>
        <div class="text-white d-flex justify-content-lg-evenly ms-5">
            <p>@Localizer["Hello"], @context.User.FindFirst("unique_name")?.Value!</p>
            <p>@Localizer["Your role"]: @context.User.FindFirst("role")?.Value!</p>
            <p><a href="/logout">@Localizer["Logout"]</a></p>
        </div>


        <div class="content">

            <div class="container">

                <!-- Dropdown Filter for Apartments -->
                <div class="row my-4">
                    <div class="col-6 col-md-2">
                        <label for="apartmentFilter" class="form-label text-white text-nowrap">@Localizer["Filter"]:</label>
                        <select id="apartmentFilter" class="form-select" @onchange="OnApartmentFilterChanged" value="@SelectedApartment">
                            @foreach (var apartment in ApartmentNames)
                            {
                                <option value="@apartment" selected="@(apartment == SelectedApartment)">
                                    @apartment
                                </option>
                            }
                        </select>
                    </div>
                </div>
                @if (PaginatedReservations != null || !PaginatedReservations.Any())
                {
                    <div class="table-responsive">

                        <table class="table table-responsive custom-table .table-sm">
                            <thead class="text-nowrap text-white">
                                <tr>
                                    <th scope="col">@Localizer["CheckIn"]</th>
                                    <th scope="col">@Localizer["CheckOut"]</th>
                                    <th scope="col">@Localizer["Appartment"]</th>
                                    <th scope="col">@Localizer["Name"]</th>
                                    <th scope="col">@Localizer["Guests"]</th>
                                    <th scope="col">@Localizer["Nights"]</th>
                                    <th scope="col">@Localizer["Price"]</th>
                                    <th scope="col">@Localizer["Channel"]</th>
                                    <th scope="col">@Localizer["Status"]</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var reservation in PaginatedReservations)
                                {
                                    <tr scope="row">
                                        <td>@reservation.CheckInDate</td>
                                        <td>@reservation.CheckOutDate</td>
                                        <td>@reservation.ApartmentName</td>
                                        <td>@reservation.QuestName</td>
                                        <td>@reservation.NumberOfQuests</td>
                                        <td>@reservation.NumberOfNights</td>
                                        <td>@reservation.CurrencySymbol @reservation.TotalPrice</td>
                                        <td>@reservation.ChannelName</td>
                                        <td>@reservation.StatusLabel</td>
                                        <td>
                                            <button class="btn btn-success btn-sm border-0 rounded-3">@Localizer["View"]</button>
                                        </td>
                                    </tr>
                                    <tr class="spacer"><td colspan="100"></td></tr>
                                }

                            </tbody>
                        </table>
                        <div class="pagination-controls text-center mt-3">
                            <button class="btn btn-primary btn-sm me-2" @onclick="PreviousPage" disabled="@(currentPage == 1)">@Localizer["Previous"]</button>

                            @for (uint page = 1; page <= totalPages; page++)
                            {
                                uint numPage = page;
                                <button class="btn btn-secondary btn-sm me-1 @(currentPage == page ? "active" : "")" disabled="@(currentPage == page)" @onclick="() => GoToPage(numPage)">
                                    @numPage
                                </button>
                            }

                            <button class="btn btn-primary btn-sm ms-2" @onclick="NextPage" disabled="@(currentPage == totalPages)">@Localizer["Next"]</button>
                        </div>
                    </div>
                }
                else
                {
                    <div class="text-danger">@Message</div>
                }

            </div>


        </div>
    </Authorized>
</AuthorizeView>








