@page "/reset-password"
@inherits PasswordResetBase

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 py-5 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <div class="mx-auto col-10 col-sm-8 col-md-8 col-lg-8 mt-md-5 pt-md-2">

                @if (IsPasswordResetSuccessful)
                {
                    <p>@Localizer["PasswordResetSuccessMessage"].</p>
                }
                else
                {
                    <p class="fs-3 my-4">@Localizer["PasswordResetPrimaryMessage"]</p>
                    <EditForm Model="ResetPasswordModel" OnValidSubmit="HandleResetPassword">
                        <DataAnnotationsValidator />

                        <div class="mb-4">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="ResetPasswordModel.NewPassword" placeholder="@Localizer["Password"]" type="password" />
                            <ValidationMessage For="@(() => ResetPasswordModel.NewPassword)" class="text-danger ms-2" />
                        </div>

                        <div class="mb-5 py-2">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="ResetPasswordModel.ConfirmPassword" placeholder="@Localizer["ConfirmPassword"]" type="password" />
                            <ValidationMessage For="@(() => ResetPasswordModel.ConfirmPassword)" class="text-danger ms-2" />
                        </div>

                        <button type="submit" class="btn btn-primary d-block fw-bold w-100 bg-white rounded-pill text-black py-2 mt-4" disabled="@(IsLoading)">
                            @if (IsRegistering)
                            {
                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            }
                            @Localizer["PasswordResetButtonText"]
                        </button>
                    </EditForm>

                    @if (!string.IsNullOrEmpty(Message))
                    {
                        <p class="text-info ms-2 mt-3">@Message</p>
                    }
                }
            </div>
        </div>
    </div>
</div>


@code {

}