@page "/register"
@inherits RegisterBase

<PageTitle>Register</PageTitle>

    <div class="container-fluid text-white">
        <div class="row">
            <div class="col-12 col-md-6 full-height text-center left-half">
                <h3 class="mt-5 pt-4">Unwind, Relax, and Stay Awhile</h3>
            </div>
            <div class="col-12 col-md-6 full-height">
                <div class="mx-auto col-8 mt-1">
                @if (!string.IsNullOrEmpty(ErrorMessage))
                {
                    <div class="alert alert-danger">@ErrorMessage</div>
                }
                @if (!string.IsNullOrEmpty(SuccessMessage))
                {
                    <div class="alert alert-success">@SuccessMessage</div>
                }
                @if (string.IsNullOrEmpty(TotpSecret))
                {
                    <p class="fs-3 mt-4">Create an account</p>
                    <p class="mb-4">
                        Already have an account? <a class="ms-2" href="login">Login.</a>
                    </p>
                    <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="mb-4 col">
                                <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.FirstName" placeholder="FirstName" />
                                <ValidationMessage For="@(() => registerModel.FirstName)" />
                            </div>
                            <div class="mb-4 col">
                                <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.LastName" placeholder="LastName" />
                                <ValidationMessage For="@(() => registerModel.LastName)" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.Email" placeholder="Email" />
                            <ValidationMessage For="@(() => registerModel.Email)" />
                        </div>
                        <div class="mb-4">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.Password" placeholder="Password" type="password" />
                            <ValidationMessage For="@(() => registerModel.Password)" />
                        </div>
                        <div class="mb-5 py-2">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.ConfirmPassword" placeholder="Confirm Password" type="password" />
                            <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
                        </div>
                        <button type="submit" class="btn btn-primary myregister-btn">Register</button>
                    </EditForm>
                }
                else
                {
                    <div class="card text-black p-4">
                        <p>Please add the following secret to an authenticator <strong>app</strong> in your phone like <strong> Microsoft Authenticator.</strong></p>
                        <p><strong>@TotpSecret</strong></p>
                        <p>After adding, proceed to <a href="login">Login</a>.</p>
                    </div>
                }
                </div>
            </div>
        </div>
    </div>

