@page "/register"
@inherits RegisterBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales

<PageTitle>Register</PageTitle>

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 py-5 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <div class="mx-auto col-10 col-sm-8 col-md-8 col-lg-8 mt-md-5 pt-md-2">
                @if (!string.IsNullOrEmpty(Message))
                {
                    <div class="toast align-items-center p-2 @BackGroundColor position-fixed top-1 end-0 @DisplayToast" role="alert" aria-live="assertive" aria-atomic="true">
                        <div class="d-flex">
                            <div class="toast-body">
                                @if (BackGroundColor == "bg-success")
                                {
                                    <strong>Success! </strong>
                                }
                                @Message
                            </div>
                            <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close" @onclick="HandleCloseToast"></button>
                        </div>
                    </div>
                }
                @if (!isRegistrationComplete)
                {
                    <p class="fs-3 mt-4">@Localizer["RegisterCreateAccount"]</p>
                    <p class="mb-4">
                        @Localizer["RegisterSecMessage"]? <a class="ms-2" href="login">@Localizer["Login"].</a>
                    </p>
                    <EditForm Model="registerModel" OnValidSubmit="HandleRegister">
                        <DataAnnotationsValidator />
                        <div class="row">
                            <div class="mb-4 col">
                                <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.FirstName" placeholder="@Localizer["FirstName"]" />
                                <ValidationMessage For="@(() => registerModel.FirstName)" class="ms-2 text-danger" />
                            </div>
                            <div class="mb-4 col">
                                <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.LastName" placeholder="@Localizer["LastName"]" />
                                <ValidationMessage For="@(() => registerModel.LastName)" class="ms-2 text-danger" />
                            </div>
                        </div>
                        <div class="mb-4">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.Email" placeholder="Email" />
                            <ValidationMessage For="@(() => registerModel.Email)" class="ms-2 text-danger" />
                        </div>
                        <div class="mb-4">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.Password" placeholder="@Localizer["Password"]" type="password" />
                            <ValidationMessage For="@(() => registerModel.Password)" class="ms-2 text-danger" />
                        </div>
                        <div class="mb-5 py-2">
                            <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="registerModel.ConfirmPassword" placeholder="@Localizer["ConfirmPassword"]" type="password" />
                            <ValidationMessage For="@(() => registerModel.ConfirmPassword)" class="ms-2 text-danger" />
                        </div>
                        <div class="mb-4">
                            <label class="form-label mb-3 fw-bold fs-5">@Localizer["Action.Authorization.Prompt"]</label>
                            <!-- Wrap InputRadio components inside InputRadioGroup -->
                            <InputRadioGroup @bind-Value="registerModel.Selected2FA">
                                <div class="d-flex">
                                    <div class="form-check position-relative">
                                        <InputRadio Value="TOTP" class="form-check-input position-absolute h-100 w-100 m-0 opacity-0" id="totpOption" />
                                        <div class="d-flex gap-1 flex-column align-items-center justify-content-center h-75 text-warning border border-warning-subtle rounded  radio-tile">
                                            <span class="material-symbols-outlined">
                                                dialpad
                                            </span>
                                            <label class="form-check-label fs-6" for="totpOption">TOTP</label>
                                        </div>
                                    </div>
                                    <div class="form-check position-relative">
                                        <InputRadio Value="FaceID" class="form-check-input position-absolute h-100 w-100 m-0 opacity-0" id="faceidOption" />
                                        <div class="d-flex gap-1 flex-column align-items-center justify-content-center h-75 text-warning border border-warning-subtle rounded radio-tile">
                                            <span class="material-symbols-outlined">
                                                face
                                            </span>
                                            <label class="form-check-label fs-6" for="faceidOption">FACE ID</label>
                                        </div>
                                    </div>
                                </div>
                            </InputRadioGroup>
                            <ValidationMessage For="@(() => registerModel.Selected2FA)" class="ms-2 text-danger text-break" />
                        </div>
                        <button type="submit" class="btn btn-primary d-block fw-bold w-100 bg-white rounded-pill text-black py-2 mt-4">
                            @if (IsRegistering)
                            {
                                <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                            }
                            @Localizer["Register"]
                        </button>
                    </EditForm>
                }
                else
                {
                    @if (IsFaceIdSelected)
                    {
                        <RegisterFaceId HostId="@RegisteredUserId" OnRegistrationComplete="HandleFaceIdRegistrationComplete" />
                    }
                    else
                    {
                        <div class="text-center mt-5 pt-5">
                            <p class="mt-5 totp-msg">
                                @((MarkupString)Localizer["RegisterSuccessPrimaryMessage"].Value)
                            </p>
                            <img class="w-50" src="@QrCodeImageData" alt="QR Code" />
                            <p class="my-4 totp-code text-break text-wrap"><strong>@TotpSecret</strong></p>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
