@page "/password-reset-request"
@inherits RequestPasswordResetBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales
@inject IStringLocalizer<Resource> Localizer

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 py-5 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
            <div class="mx-auto col-10 col-sm-8 col-md-8 col-lg-8 mt-md-5 pt-md-2">

                <p class="fs-3 mt-5 pt-3">@Localizer["Password_R_RequestPrimaryMessage"]</p>
                <p class="mb-5">
                    @Localizer["Password_R_RequestSecMessage"].
                </p>
                <EditForm Model="resetModel" OnValidSubmit="HandleValidSubmit">
                    <DataAnnotationsValidator />

                    <div class="form-group">
                        <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="resetModel.Email" placeholder="Email" />
                        <ValidationMessage For="@(() => resetModel.Email)" />
                    </div>

                    <button type="submit" class="btn btn-primary d-block fw-bold w-100 bg-white rounded-pill text-black py-2 mt-4">
                        @if (ShouldSpin)
                        {
                            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                        }
                        @Localizer["Password_R_RequestButtonText"]
                    </button>
                </EditForm>

                @if (!string.IsNullOrEmpty(Message))
                {
                    <p class="text-info ms-2">@Message</p>
                }

            </div>
        </div>
    </div>
</div>
