@page "/verify-otp"
@inherits VerifyOtpBase
@using Microsoft.Extensions.Localization
@using RentalCheckIn.Locales
@inject IStringLocalizer<Resource> Localizer

<PageTitle>Verify TOTP</PageTitle>

<div class="container-fluid text-white">
    <div class="row">
        <div class="col-12 col-md-6 full-height text-center left-half">
            <h3 class="mt-5 pt-4">@Localizer["WelcomeMessage"]</h3>
        </div>
        <div class="col-12 col-md-6 full-height">
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <div class="alert alert-danger">@ErrorMessage</div>
        }
            <div class="mx-auto col-8 mt-5 pt-2">
                <p class="fs-3 mt-5">@Localizer["VerifyTOTPPrimaryMessage"]</p>
                <p class="mb-5">
                    @((MarkupString)Localizer["VerifyTOTPSecMessage"].Value).
                </p>
                <EditForm Model="otpModel" OnValidSubmit="HandleVerifyOtp">
                    <DataAnnotationsValidator />
                    <InputText class="bg-transparent text-white rounded-pill form-control" @bind-Value="otpModel.Code" placeholder="TOTP Code" />
                    <ValidationMessage For="@(() => otpModel.Code)" class="ms-2 text-danger" />
                    <button type="submit" class="btn btn-primary myverifyotp-btn">
                        @if (ShouldSpin)
                        {
                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        }
                        @Localizer["VerifyTOTPVerifyText"]
                    </button>
                </EditForm>
            </div>
        </div>
    </div>
</div>
